.product-card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card:hover,
.product-card:focus-visible {
  box-shadow: 0px 0px 15px var(--clr-gray-600);
  transform: scale(1.05);
}

.product-card__img-container {
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.product-card__img {
  display: inline-block;
  inline-size: 80%;
  margin: 2rem 0.5rem;
  background: white;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.produict-card__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-card__name {
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card__name:hover {
  color: var(--clr-gentleman-300);
}
