.cart-element__quantity {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--clr-gray-400);
  border-radius: 8px;
  width: fit-content;
  overflow: hidden;
}

.cart-element__quantity .cart-element__btn {
  border-radius: 0;
  padding-inline: 0.25em;
}

.cart-element__quantity span {
  font-weight: 600;
}
