.products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
}
