.footer {
  margin-top: auto;
  text-align: center;
  padding: 1em 0;
}

.footer__link {
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in;
}

.footer__link:hover, 
.footer__link:focus-visible {
  color: var(--clr-gentleman);
}