.product-article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.product-article__img-container {
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

.product-article__img {
  display: inline-block;
  width: 70%;
  margin: 2rem 0.5rem;
  background: white;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.product-article__info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.product-article__info footer {
  flex: 1;
}
