.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  overflow: hidden;
}

#slider__scroller {
  --cards-displayed: 3;
  --slider-index: 0;
  width: calc(100% - (2 * 5rem));
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 0.5rem;
  scroll-snap-align: start;
}

#slider__scroller::-webkit-scrollbar {
  height: 10px;
}

#slider__scroller::-webkit-scrollbar-thumb {
  background-color: var(--clr-gray-400);
  border: 1px solid var(--clr-gray-600);
  border-radius: 10px;
}

.slider__element {
  flex: 0 0 calc(100% / var(--cards-displayed));
  max-width: calc(100% / var(--cards-displayed));
  padding: 1.5rem 0.5rem;
}

@media (max-width: 65em) {
  #slider__scroller {
    --cards-displayed: 2;
    width: calc(100% - 2 * 4rem);
  }
}

@media (max-width: 35em) {
  #slider__scroller {
    --cards-displayed: 1;
    width: calc(100% - 2 * 3rem);
  }
}
